.see-more {
  text-align: center;
  padding: 8rem;
  font-size: 1.8rem;
}
/* ///////////FOOTER///////// */

.footer-container {
  background-color: rgb(247, 94, 94);

  color: #ffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  width: 100%;
  /* height: 30rem; */
  align-items: start;
  padding-bottom: 6rem;
}
.logo-footer {
  font-size: 2.6rem;
  /* margin-left: 3rem; */
}
.footer-box {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}
.facebook-logo {
  margin-right: 0.4rem;
}

.footer-box h1 {
  margin-bottom: 2rem;
}

.footer-container ul {
  margin-left: -2.6rem;
  display: flex;
  cursor: pointer;
  list-style: none;
  font-size: 3rem;
}
