.see-more {
  text-align: center;
  padding: 8rem;
  font-size: 1.8rem;
}

/* ///////////FOOTER///////// */

.background-box {
  background-color: rgb(247, 94, 94);
  width: 100%;
  padding-bottom: 10rem;
  /* padding: 6rem; */
}

.footer-container {
  /* background-color: rgb(247, 94, 94); */
  color: #ffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* place-items: center; */
  max-width: 1500px;
  margin: 0 auto;
  justify-items: center;
  align-items: baseline;
  /* align-items: start; */
}

.logo-footer {
  font-size: 2.6rem;
  /* margin-left: 3rem; */
}

.footer-box {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}

.facebook-logo {
  margin-right: 0.4rem;
}

.footer-box h1 {
  margin-bottom: 2rem;
}

.footer-box ul {
  margin-top: -1.2rem;
}

.footer-container ul {
  margin-left: -2.6rem;
  display: flex;
  cursor: pointer;
  list-style: none;
  font-size: 3rem;
}