.fullScreenImageContainer {
  /* border: 5px solid red; */
  width: 50%;
  height: 50%;
  object-fit: cover;
  /* text-align: center; */
  position: absolute;
  margin: 0 auto;
  background-color: red;
}
