.picture-box img {
  max-width: 22rem;
  border-radius: 10px;
}

.picture-box {
  /* width: 22rem; */
}

.wrap-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5rem;
  /* align-items: center; */
  /* margin-right: 4rem; */
}

.details {
  width: 20rem;
  margin-left: 3rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(240, 240, 240, 0.521);
  align-self: baseline;
  text-align: center;

  /* max-width: 14rem; */
  /* width: 14rem; */
}

.details button:hover {
  background-color: #f1356d;
  color: white;
}

.details h1 {
  font-weight: 500;

  margin-bottom: 1rem;
  color: rgb(69, 70, 71);
}

.details h2 {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(73, 73, 73);
}
.details h3 {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(73, 73, 73);
  margin-top: 0.2rem;
}
.details h4 {
  font-size: 1.8rem;
  color: #f1356d;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: 500;

  /* background-color: rgb(245, 245, 245); */
  /* border-radius: 10px; */
  /* display: inline-block; */
  /* padding: 0.6rem; */
}
.details h1,
h2,
h3,
h4 {
  text-align: initial;
  margin-left: 3.1rem;
}

.details button {
  padding: 1rem 3rem 1rem 3rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: rgb(69, 70, 71);

  /* justify-content: center; */
}
