.work-container {
  /* max-width: 130rem; */
  margin: 0 auto;
  width: 64%;
  margin-bottom: 6rem;
  /* margin-top: 12rem; */
  /* object-fit: cover; */
  /* overflow: hidden; */
}
.pulaa {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 6rem;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.work-item {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

.item-container {
  overflow: hidden;
}

.item-container img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.item-container :hover {
  transform: scale(1.1);
  opacity: 0.6;

  /* transition: all 0.4s; */
  /* max-width: 40rem; */
}
/* .work-item img:hover {
    transform: scale(1);
    
  } */
