.work-container {
  max-width: 130rem;
  margin: 0 auto;
  width: 64%;
  margin-bottom: 6rem;
  /* margin-top: 12rem; */
  /* object-fit: cover; */
  /* overflow: hidden; */
}
.pulaa {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;

  padding: 6rem;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-items: center; */
  gap: 1.2rem;
  /* margin-top: 9rem; */
  /* margin-right: 1.2rem; */
  /* justify-content: center; */
  /* max-width: 100%; */
  overflow: hidden;
}

.work-item {
  /* overflow: hidden; */
  /* max-width: 35rem; */
  /* height: 100%; */
  object-fit: cover;
  width: 100%;
}

.item-container {
  overflow: hidden;
  /* width: 100%; */
}

.item-container img {
  display: block;
  width: 100%;
  transition: all 0.4s;
  /* display: block;
    max-width: 40rem; */
  /* min-width: 20rem; */

  /* height: 100%; */
  /* object-fit: cover; */
  /* width: 100%; */
}

.item-container :hover {
  transform: scale(1.1);
  opacity: 0.6;

  /* transition: all 0.4s; */
  /* max-width: 40rem; */
}
/* .work-item img:hover {
    transform: scale(1);
    
  } */
