.cart-container {
  width: 50%;
  height: 30rem;
  background-color: rgb(255, 255, 255);
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
  border-radius: 10px;

  /* margin: 0 auto; */
}
.cart-content {
  text-align: center;
  display: block;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
}

.cart-close {
  font-size: 2rem;
  display: inline-block;
  cursor: pointer;
}

.cart-background {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  z-index: 1000;
}
