@media (max-width: 84em) {
  html {
    /* 9px / 16px  */
    font-size: 80%;
  }
  .work-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-container {
    margin: 0 2rem 2rem 2rem;
  }
  .main-container {
    justify-content: center;
    width: 50%;
    padding: 0;
  }
  .modal-content {
    width: 44rem;
  }
  .close-modal {
    margin-top: 10rem;
  }
}

/* --------mobile nav--------*/

@media (max-width: 59em) {
  .video-container p {
    margin-top: -2rem;
    margin-left: 16%;
  }
  .navbar-mobile {
    display: flex;
    height: 5rem;
  }

  .navbar-mobile .mobile-logo {
    color: rgba(239, 11, 66, 255);
    font-size: 2.6rem;
    margin-left: 2rem;
  }

  .navbar-desktop {
    display: none;
  }

  .navbar-mobile .hamburger {
    position: absolute;
    right: 2rem;
    cursor: pointer;
    align-self: center;
  }

  .navbar-mobile .links-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    text-align: center;
    font-size: 3rem;
    /* justify-content: center; */
    /* position: absolute; */
    /* top: 5rem; */
    /* background: rgb(255, 255, 255); */
    /* width: 100%; */
    /* height: 100vh; */
    /* background-color: rgba(255, 255, 255, 0.863); */
    /* backdrop-filter: blur(10px); */
  }
  .mobile-modal {
    width: 100%;
    position: absolute;
    top: 5rem;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.863);
  }

  .main-container {
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 0;
  }

  .card-container {
    width: 14rem;
    height: 22rem;
  }

  .modal-content {
    width: 40rem;
  }
  .close-modal {
    margin-top: 13rem;
    margin-left: 43rem;
  }

  .footer-box ul {
    margin-top: -1rem;
  }
  .facebook-logo {
    margin-left: -1rem;
    margin-right: 0.4rem;
  }

  /* ------media for shopping cart------ */

  .cart-img {
    /* width: 5rem; */
  }
  .quantity-buttons {
    margin-left: 1rem;
  }
  .cart-pret {
    margin-left: 1rem;
  }
}

@media (max-width: 40rem) {
  .navbar-mobile .links-mobile {
    margin-top: 13rem;
  }

  .mobile-modal {
    z-index: 999;
  }
  .main-container {
    grid-template-columns: 1fr 1fr;
    width: 40%;
  }

  .wrap-container {
    flex-direction: column;
    gap: 3rem;
  }
  .picture-box {
    margin: 0 auto;
  }
  .details {
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .details h1 {
    margin-bottom: 0.6rem;
  }
  .details h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .details button {
    margin: 0 auto;
  }
  .footer-container {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: baseline;
    width: 80%;
    margin: 0 auto;
    /* place-items: center; */
  }

  .modal-content {
    width: 34rem;
  }
  .close-modal {
    margin-top: 16rem;
    margin-left: 36rem;
  }

  .footer-container .footer-box:nth-child(1) {
    grid-row: 2;
  }
  .footer-container .footer-box:nth-child(1) {
    /* margin-left: -5rem; */
    margin-top: 4rem;
    margin-left: 1.2rem;
  }
}

@media (max-width: 34rem) {
  .navbar-mobile .mobile-logo {
    font-size: 2rem;
  }

  .video-container p {
    font-size: 3.4rem;
  }

  .mobile-modal .links-mobile {
    font-size: 3rem;
    z-index: 999;
  }

  .main-container {
    grid-template-columns: 1fr;
  }
  .card-container {
    width: 15rem;
    height: 23rem;
  }
  .work-container {
    width: 80%;
  }
  .modal-content {
    width: 22rem;
  }
  .close-modal {
    margin-top: 22rem;
    margin-left: 24rem;
  }

  .footer-container {
    width: 90%;
    margin: 0 auto;
  }

  .cart-container {
    width: 80%;
  }
  .cart-content {
    padding: 1rem;
  }
  .cart-nume {
    margin-left: 0.4rem;
  }

  .details {
    width: 18rem;
  }
  .picture-box img {
    width: 20rem;
  }
  .details h1 {
    margin-bottom: 0.4rem;
    font-weight: 500;
  }
  .details h2,
  .details h3 {
    font-weight: 300;
    padding: 0;
  }

  .details h4 {
    font-weight: 500;
    /* display: inline-block; */
  }

  .navbar-mobile .links-mobile {
    margin-top: 7rem;
  }
}
