@media (max-width: 84em) {
  html {
    /* 9px / 16px  */
    font-size: 80%;
  }

  .card-title {
    padding-left: 8rem;
  }

  .work-list {
    grid-template-columns: repeat(2, 1fr);
    max-width: 740px;
  }

  .product-container {
    margin: 0 2rem 2rem 2rem;
  }

  .main-container {
    justify-content: center;
    width: 50%;
    padding: 0;
  }

  .modal-content {
    width: 44rem;
  }

  .close-modal {
    /* padding-top: 24rem; */
    /* margin-top: 10rem; */
  }
}

/* --------mobile nav--------*/

@media (max-width: 59em) {
  .video-container p {
    margin-top: -2rem;
    margin-left: 16%;
  }

  .navbar-mobile {
    display: flex;
    height: 5rem;
  }

  .navbar-mobile .mobile-logo {
    color: rgba(239, 11, 66, 255);
    font-size: 2.6rem;
    margin-left: 2rem;
  }

  .navbar-desktop {
    display: none;
  }

  .navbar-mobile .hamburger {
    position: absolute;
    right: 2rem;
    cursor: pointer;
    align-self: center;
  }

  .navbar-mobile .links-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    text-align: center;
    font-size: 3rem;
    /* justify-content: center; */
    /* position: absolute; */
    /* top: 5rem; */
    /* background: rgb(255, 255, 255); */
    /* width: 100%; */
    /* height: 100vh; */
    /* background-color: rgba(255, 255, 255, 0.863); */
    /* backdrop-filter: blur(10px); */
  }

  .mobile-modal {
    width: 100%;
    position: absolute;
    top: 5rem;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.863);
  }

  .main-container {
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 0;
  }

  .card-container {
    width: 14rem;
    height: 22rem;
  }

  /* .modal-content {
    width: 40rem;
  } */

  /* .close-modal {
    padding-top: 24rem;
  } */

  .footer-box ul {
    margin-top: -1rem;
  }

  .facebook-logo {
    margin-left: -1rem;
    margin-right: 0.4rem;
  }

  /* ------media for shopping cart------ */

  .quantity-buttons {
    margin-left: 1rem;
  }

  .cart-pret {
    margin-left: 1rem;
  }
}

@media (max-width: 40rem) {
  .navbar-mobile .links-mobile {
    margin-top: 13rem;
    font-size: 2rem;
  }

  .mobile-modal {
    z-index: 999;
  }

  .carousel {
    height: 40rem;
  }

  .carousel-arrow-right {
    right: 2rem;
  }

  .carousel-arrow-left {
    left: 2rem;
  }

  .card-title {
    font-size: 3rem;
  }

  .main-container {
    grid-template-columns: 1fr 1fr;
    width: 40%;
  }

  .wrap-container {
    flex-direction: column;
    gap: 3rem;
  }

  .picture-box {
    margin: 0 auto;
  }

  .details {
    margin: 0 auto;
    margin-bottom: 3rem;
  }



  .footer-container {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: baseline;
    width: 80%;
    margin: 0 auto;
    /* place-items: center; */
  }

  .modal-content {
    width: 34rem;
  }



  /* .close-modal {
    padding-top: 28rem;
    padding-left: 38rem;
  } */

  .footer-container .footer-box:nth-child(1) {
    grid-row: 2;
  }

  .footer-container .footer-box:nth-child(1) {
    /* margin-left: -5rem; */
    margin-top: 4rem;
    margin-left: 1.2rem;
  }
}

@media (max-width: 34rem) {
  .navbar-mobile .mobile-logo {
    font-size: 2rem;
  }

  .video-container p {
    font-size: 3.4rem;
  }

  .mobile-modal .links-mobile {
    font-size: 3rem;
    z-index: 999;
  }

  .main-container {
    grid-template-columns: 1fr;


  }



  .card-title {
    padding: 0;
    padding-top: 8rem;
  }

  .card-container {
    width: 15rem;
    height: 23rem;
  }

  .work-container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5rem;
  }

  .modal-content {
    width: 22rem;
  }




  .footer-container {
    width: 90%;
    margin: 0 auto;
  }

  .cart-container {
    width: 80%;
  }

  .cart-content {
    padding: 1rem;
  }

  .cart-nume {
    margin-left: 0.4rem;
  }

  .cart-pret {
    padding-left: 3rem;
  }

  .details {
    width: 18rem;
    height: 16rem;
  }

  .picture-box img {
    width: 20rem;

  }

  .wrap-container {
    padding-top: 4rem;
  }

  .details h1,
  .details h2,
  .details h3,
  .details h4 {

    padding-left: 1rem;
  }

  .details h1 {
    font-weight: 500;
    padding-top: 0rem;
  }

  .details h2 {
    padding-top: 1rem;

  }

  .details h4 {
    font-size: 1.8rem;
    color: #f1356d;
    font-weight: 500;
    padding-bottom: 0;
    /* padding-left: 2rem;
    padding-top: 2rem; */


  }

  .details hr {
    margin-left: 1rem;
  }

  .details button {
    margin-left: 1rem;
  }

  .navbar-mobile .links-mobile {
    font-size: 2rem;
  }

  .close-modal {
    padding-left: 24rem;
    padding-top: 20rem;
  }

  .footer-container {
    padding-left: 1.4rem;
  }

  .background-container {
    padding-bottom: 4rem;
  }

}