@media (max-width: 84em) {
  html {
    /* 9px / 16px  */
    font-size: 80%;
  }
  .work-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-container {
    margin: 0 2rem 2rem 2rem;
  }
  .main-container {
    justify-content: center;
    width: 50%;
    padding: 0;
  }
}

/* --------mobile nav--------*/

@media (max-width: 59em) {
  .video-container p {
    margin-top: -2rem;
    margin-left: 16%;
  }
  .navbar-mobile {
    display: flex;
    height: 5rem;
  }

  .navbar-mobile .mobile-logo {
    color: rgba(239, 11, 66, 255);
    font-size: 2.6rem;
    margin-left: 2rem;
  }

  .navbar-desktop {
    display: none;
  }

  .navbar-mobile .hamburger {
    position: absolute;
    right: 2rem;
    cursor: pointer;
    align-self: center;
  }

  .navbar-mobile .links-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 5rem;
    font-size: 2rem;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.863);
    backdrop-filter: blur(10px);
  }
  .main-container {
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 0;
  }

  .card-container {
    width: 14rem;
    height: 22rem;
  }

  .modal-content {
    width: 80%;
  }

  /* ------mediaq for product page--------- */

  .wrap-container {
    /* text-align: center; */
    margin-left: 0;
    justify-content: center;
    align-items: flex-start;
  }

  .details {
    /* margin-bottom: 2.6rem; */
    /* margin-left: 0; */
    /* align-items: center; */
    margin-left: 4rem;
  }
  .details h3 {
    padding-top: 0.8rem;
  }

  .details button {
    margin-top: 1rem;
  }
  .picture-box {
    width: 14rem;
  }
  /* ------media for footer------- */
  .footer-box ul {
    margin-top: -1rem;
  }
  .facebook-logo {
    margin-left: -1rem;
    margin-right: 0.4rem;
  }

  /* ------media for shopping cart------ */

  .cart-img {
    /* width: 5rem; */
  }
  .quantity-buttons {
    margin-left: 1rem;
    /* color: #333; */
  }
  .cart-pret {
    margin-left: 1rem;
  }
}

@media (max-width: 40rem) {
  .main-container {
    grid-template-columns: 1fr 1fr;
    width: 40%;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: baseline;
    width: 80%;
    margin: 0 auto;
    /* place-items: center; */
  }

  .footer-container .footer-box:nth-child(1) {
    grid-row: 2;
  }
  .footer-container .footer-box:nth-child(1) {
    /* margin-left: -5rem; */
    margin-top: 4rem;
    margin-left: 1.2rem;
  }
}

@media (max-width: 34rem) {
  .navbar-mobile .mobile-logo {
    font-size: 2rem;
  }
  .video-container p {
    font-size: 3.4rem;
  }

  .main-container {
    grid-template-columns: 1fr;
  }
  .card-container {
    width: 15rem;
    height: 23rem;
  }
  .work-container {
    width: 80%;
  }
  .footer-container {
    width: 90%;
    margin: 0 auto;
  }

  .cart-container {
    width: 80%;
  }
  .cart-content {
    padding: 1rem;
  }
  .cart-nume {
    margin-left: 0.4rem;
  }
  .wrap-container {
    /* justify-content: center; */
    /* align-items: center; */
    /* align-self: center; */
  }

  .details {
    margin-left: 1rem;
  }
  .picture-box {
    /* margin-left: 1.2rem; */
  }
  .details h1 {
    margin-bottom: 0;
    font-weight: 500;
  }
  .details h2,
  .details h3 {
    font-weight: 300;
    padding: 0;
  }

  .details h4 {
    font-weight: 500;
    display: inline-block;
  }
  .details button {
    /* margin-top: 3rem; */
    /* margin: 0 auto; */
  }
}
